@import "variables";

.header {
  background: $color-blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    font-size: $font-size-16 * 1.5;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $color-white;
    padding: 0 1rem;
  }
}
