<div class="score">
  <div class="score-best" *ngIf="bestScore">
    {{'header.score.best' | translate}} {{bestScore}} {{'sec' | translate}}
  </div>
  <div class="score-current" *ngIf="lastScore">
    {{'header.score.last' | translate}} {{lastScore}} {{'sec' | translate}}
  </div>
</div>
