@import "variables";

.game-field {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  &__timer {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
