<div class="game-field">
  <div class="game-field__timer">
    <p *ngIf="preGameTimerCount">{{'game.pre-start' | translate}} {{preGameTimerCount}} {{'sec' | translate}}</p>
    <p *ngIf="!preGameTimerCount">{{'game.time' | translate}} {{gameTimerCount}} {{'sec' | translate}}</p>
  </div>
  <div class="game-field__cards cards" *ngIf="isGameStart && !isGameOver" [@stageHideAnimation]
       (@stageHideAnimation.done)="hideCards()">
    <app-game-card
      *ngFor="let card of data"
      (click)="selectCard(card)"
      [cardState]="card.state"
      [cardImg]="card.image"
    ></app-game-card>
  </div>
  <div class="game-field__info" *ngIf="isGameOver">
    <app-game-button [text]="'repeat' | translate" (click)="startGame()"></app-game-button>
    <app-game-button [text]="'to-home' | translate" routerLink=""></app-game-button>
  </div>
</div>
