@use "sass:math";

/**
Colors
 */
$color-white: #ffffff;
$color-dark: #333333;
$color-blue: #1976d2;


/**
Font Size
 */
$default-font-value: 16;
$font-size-16: math.div(16, $default-font-value) * 1rem;


/**
Font Weight
 */
$font-weight-normal: normal;
$font-weight-bold: bold;
