@import "variables";

.game-button {
  background: $color-blue;
  min-height: 45px;
  min-width: 170px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  border: none;
}
