<div class="game-card"
     [@flipAnimation]="cardState"
     [@cardHoverAnimation]="isHover">
  <div class="game-card__front card"></div>
  <div class="game-card__back card">
    <img class="card-img" src="{{cardImg}}">
  </div>
</div>
