@import "variables";

.game-card {
  flex: 1 0 11%;
  margin: 5px;
  min-width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;

  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $color-blue;

    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
  }

  &__back {
    transform: rotateY(-180deg);

    img {
      width: 100%;
      height: 100%;
    }
  }
}
